## Interface: 11200
## Title: WoWTR Türkçe Yama |cff80c0ffOctoWoW|r
## Version: 26.1005-octo.3
## Notes: WoWTR çeviri verileriyle Vanilla görev, diyalog, kitap, tooltip ve NPC konuşma çevirileri. /wowtr
## Author: Platine & Hakan YILMAZ; OctoWoW uyarlaması: Yuasset
## X-Website: https://www.wowtr.com.tr
## DefaultState: Enabled
## LoadOnDemand: 0
## SavedVariables: WoWTRVanillaDB, WoWTRVanillaLog, QTR_PS, QTR_SAVED, QTR_MISSING, QTR_GOSSIP, BB_PM, BB_PS, BB_TR, MF_PM, MF_PS, TT_PS, TT_TUTORIALS, BT_PM, BT_SAVED, ST_PM, ST_PS, ST_PH, WoWTR_minimapDB
## SavedVariablesPerCharacter: QTR_PC
## OptionalDeps: pfQuest

Vanilla\Bootstrap.lua
Vanilla\DataQuests.lua
Vanilla\DataTitles.lua
Vanilla\DataBooks.lua
Vanilla\DataBookIDs.lua
Vanilla\DataGossip.lua
Vanilla\DataTooltips.lua
Vanilla\DataBubbles.lua
Vanilla\DataTutorials.lua
Vanilla\DataSubtitles.lua
Vanilla\DataStats.lua
Vanilla\Localization.lua
Vanilla\UITranslations.lua
Vanilla\Quests.lua
Vanilla\GossipBooks.lua
Vanilla\Interface.lua
Vanilla\TextModules.lua
Vanilla\Settings.lua
Vanilla\Runtime.lua
